/* All patterns adapted from https://css-pattern.com/ */

:root {
  --s: 300px;
  --c2: var(--current-accent);
  --c3: color-mix(in hsl, var(--current-accent), #000000 5%);
  --c1: color-mix(in hsl, var(--current-accent), #000000 10%);
  --c4: color-mix(in hsl, var(--current-accent), #000000 15%);
  --c5: color-mix(in hsl, var(--current-accent), #000000 20%);

  --cubes: repeating-conic-gradient(from 30deg,#0000 0 120deg,var(--c3) 0 50%)
    calc(var(--s)/2) calc(var(--s)*tan(30deg)/2),
    repeating-conic-gradient(from 30deg,var(--c1) 0 60deg,var(--c2) 0 120deg,var(--c3) 0 50%);
  --cubes-size: var(--s) calc(var(--s)*tan(30deg));

  --s-overlapping: calc(var(--s) / 1.5);
  --g-overlapping: 0 120deg,#0000 0;
  --overlapping:
    conic-gradient(             at calc(250%/3) calc(100%/3),var(--c3) var(--g-overlapping)),
    conic-gradient(from -120deg at calc( 50%/3) calc(100%/3),var(--c1) var(--g-overlapping)),
    conic-gradient(from  120deg at calc(100%/3) calc(250%/3),var(--c2) var(--g-overlapping)),
    conic-gradient(from  120deg at calc(200%/3) calc(250%/3),var(--c2) var(--g-overlapping)),
    conic-gradient(from -180deg at calc(100%/3) 50%,var(--c1)  60deg,var(--c2) var(--g-overlapping)),
    conic-gradient(from   60deg at calc(200%/3) 50%,var(--c2)  60deg,var(--c3) var(--g-overlapping)),
    conic-gradient(from  -60deg at 50% calc(100%/3),var(--c2) 120deg,var(--c1) 0 240deg,var(--c3) 0);
  --overlapping-size: calc(var(--s-overlapping)*sqrt(3)) var(--s-overlapping);

  --g-hollow-cubes: var(--c1) 10%,var(--c2) 10.5% 19%,#0000 19.5% 80.5%,var(--c2) 81% 89.5%,var(--c3) 90%;
  --c-hollow-cubes: from -90deg at 37.5% 50%,#0000 75%;
  --l1-hollow-cubes: linear-gradient(145deg,var(--g-hollow-cubes));
  --l2-hollow-cubes: linear-gradient( 35deg,var(--g-hollow-cubes));
  --hollow-cubes:
    var(--l1-hollow-cubes), var(--l1-hollow-cubes) calc(var(--s)/2) var(--s),
    var(--l2-hollow-cubes), var(--l2-hollow-cubes) calc(var(--s)/2) var(--s),
    conic-gradient(var(--c-hollow-cubes),var(--c1) 0) calc(var(--s)/8) 0,
    conic-gradient(var(--c-hollow-cubes),var(--c3) 0) calc(var(--s)/2) 0,
    linear-gradient(90deg,var(--c3) 38%,var(--c1) 0 50%,var(--c3) 0 62%,var(--c1) 0);
  --hollow-cubes-size: var(--s) calc(2*var(--s)/3);

  --g-pillars: var(--c3) 0 120deg,#0000 0;
  --pillars:
    conic-gradient(from -60deg at 50% calc(100%/3),var(--g-pillars)),
    conic-gradient(from 120deg at 50% calc(200%/3),var(--g-pillars)),
    conic-gradient(from  60deg at calc(200%/3),var(--c3) 60deg,var(--c2) 0 120deg,#0000 0),
    conic-gradient(from 180deg at calc(100%/3),var(--c1) 60deg,var(--g-pillars)),
    linear-gradient(90deg,var(--c1)   calc(100%/6),var(--c2) 0 50%,
                          var(--c1) 0 calc(500%/6),var(--c2) 0);
  --pillars-size: calc(1.732*var(--s)) var(--s);

  --g-triangles: conic-gradient(from 30deg at 50% 25%,#0000 300deg,var(--c1) 0);
  --triangles:
    var(--g-triangles) calc(0.2885*var(--s)) calc(7*var(--s)/12),
    var(--g-triangles) 0 calc(var(--s)/12),
    conic-gradient(from 120deg at 50% calc(250%/3),var(--c2) 120deg,#0000 0),
    repeating-conic-gradient(from 30deg,#0000 0 60deg,var(--c1) 0 120deg),
    repeating-conic-gradient(var(--c3) 0 60deg,var(--c2) 0 120deg,var(--c4) 0 180deg);
  --triangles-size: calc(0.577*var(--s)) var(--s);

  --s-zig-zag: calc(var(--s) / 5);
  --g1-zig-zag: conic-gradient(at calc(250%/3) calc(50%/3),var(--c2) 60deg,#0000 0 300deg,var(--c1) 0);
  --g2-zig-zag: conic-gradient(at calc(50%/3) 50%,#0000 75%,var(--c1) 0);
  --g3-zig-zag: conic-gradient(at calc(100%/3) 50%,#0000 75%,var(--c2) 0);
  --g4-zig-zag: conic-gradient(from 59deg at calc(200%/3) calc(249%/9),var(--c3) 61deg,#0000 62deg);
  --g5-zig-zag: conic-gradient(from 60deg at 50% calc(250%/3),var(--c4) 60deg,var(--c1) 0 120deg,#0000 0);
  --p-zig-zag: calc(9*tan(30deg)*var(--s-zig-zag));
  --zig-zag:
    var(--g1-zig-zag) calc(-1*var(--s-zig-zag)) 0,var(--g1-zig-zag) calc(2*var(--s-zig-zag)) var(--p-zig-zag),
    var(--g2-zig-zag),var(--g2-zig-zag) calc(3*var(--s-zig-zag)) var(--p-zig-zag),
    var(--g3-zig-zag),var(--g3-zig-zag) calc(3*var(--s-zig-zag)) var(--p-zig-zag),
    var(--g4-zig-zag),var(--g4-zig-zag) calc(3*var(--s-zig-zag)) var(--p-zig-zag),
    var(--g5-zig-zag) calc(3*var(--s-zig-zag)) 0,var(--g5-zig-zag) 0 var(--p-zig-zag) var(--c3);
  --zig-zag-size: calc(6*var(--s-zig-zag)) calc(2*var(--p-zig-zag));

  --l-rectangles:#0000 calc(25%/3),var(--c3) 0 25%,#0000 0;
  --g-rectangles:conic-gradient(from 120deg at 50% 87.5%,var(--c3) 120deg,#0000 0);
  --rectangles:
    var(--g-rectangles),var(--g-rectangles) 0 calc(var(--s)/2),
    conic-gradient(from 180deg at 75%,var(--c2) 60deg,#0000 0),
    conic-gradient(from 60deg at 75% 75%,var(--c3) 0 60deg,#0000 0),
    linear-gradient(150deg,var(--l-rectangles)) 0 calc(var(--s)/2),
    conic-gradient(at 25% 25%,#0000 50%,var(--c2) 0 240deg,var(--c3) 0 300deg,var(--c2) 0),
    linear-gradient(-150deg,var(--l-rectangles)) var(--c1);
  --rectangles-size: calc(0.866*var(--s)) var(--s);

  --s-stairs: calc(var(--s) / 3);
  --g-stairs: conic-gradient(at 50% 25%,#0000 75%,var(--c1) 0);
  --stairs:
    var(--g-stairs),var(--g-stairs) var(--s-stairs) var(--s-stairs),
    var(--g-stairs) calc(2*var(--s-stairs)) calc(2*var(--s-stairs)),
    var(--g-stairs) calc(3*var(--s-stairs)) calc(3*var(--s-stairs)),
    repeating-linear-gradient(135deg,var(--c2) 0 12.5%,var(--c3) 0 25%);
  --stairs-size: calc(4*var(--s-stairs)) calc(4*var(--s-stairs));
}

@mixin cubes {
  background: var(--cubes);
  background-size: var(--cubes-size);
}

@mixin overlapping {
  background: var(--overlapping);
  background-size: var(--overlapping-size)
}

@mixin hollow-cubes {
  background: var(--hollow-cubes);
  background-size: var(--hollow-cubes-size);
}

@mixin pillars {
  background: var(--pillars);
  background-size: var(--pillars-size);
}

@mixin triangles {
  background: var(--triangles);
  background-size: var(--triangles-size);
}

@mixin zig-zag {
  background: var(--zig-zag);
  background-size: var(--zig-zag-size);
}

@mixin rectangles {
  background: var(--rectangles);
  background-size: var(--rectangles-size);
}

@mixin stairs {
  background: var(--stairs);
  background-size: var(--stairs-size);
}

$patterns: "hollow-cubes", "overlapping", "pillars", "cubes", "triangles", "zig-zag", "rectangles", "stairs";

@mixin pattern($name) {
  @if      $name == "cubes"        { @include cubes; }
  @else if $name == "overlapping"  { @include overlapping; }
  @else if $name == "hollow-cubes" { @include hollow-cubes; }
  @else if $name == "pillars"      { @include pillars; }
  @else if $name == "triangles"    { @include triangles; }
  @else if $name == "zig-zag"      { @include zig-zag; }
  @else if $name == "rectangles"   { @include rectangles; }
  @else if $name == "stairs"       { @include stairs; }
}
